<a href="https://colab.research.google.com/github/nkumanning/Spring-Course-24/blob/main/Data_Manipulation_(String)_Titanic_me.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# import data analysis libraries

In [ ]:
df = pd.read_excel('titanic.xls')

df.head()

# import the titanic dataset

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df = df[['name', 'cabin', 'home.dest']]
df.head()

# create a smaller dataset with just the variables of interest

,name,cabin,home.dest
0,"Allen, Miss. Elisabeth Walton",B5,"St Louis, MO"
1,"Allison, Master. Hudson Trevor",C22 C26,"Montreal, PQ / Chesterville, ON"
2,"Allison, Miss. Helen Loraine",C22 C26,"Montreal, PQ / Chesterville, ON"
3,"Allison, Mr. Hudson Joshua Creighton",C22 C26,"Montreal, PQ / Chesterville, ON"
4,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",C22 C26,"Montreal, PQ / Chesterville, ON"

In [ ]:
df.info()

# explore the characteristics of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1309 non-null   object
 1   cabin      295 non-null    object
 2   home.dest  745 non-null    object
dtypes: object(3)
memory usage: 30.8+ KB

In [ ]:
df.nunique()

# unique string values

name         1307
cabin         186
home.dest     369
dtype: int64

In [ ]:
df['home.dest'].value_counts()

# string frequencies
# there are 64 rows where New York, NY is the home.dest

New York, NY                                    64
London                                          14
Montreal, PQ                                    10
Paris, France                                    9
Cornwall / Akron, OH                             9
                                                ..
Chelsea, London                                  1
Harrow-on-the-Hill, Middlesex                    1
Copenhagen, Denmark                              1
Guernsey / Montclair, NJ and/or Toledo, Ohio     1
Antwerp, Belgium / Stanton, OH                   1
Name: home.dest, Length: 369, dtype: int64

In [ ]:
df['cabin'].value_counts()

C23 C25 C27        6
G6                 5
B57 B59 B63 B66    5
F4                 4
F33                4
                  ..
C132               1
E60                1
B52 B54 B56        1
C49                1
F38                1
Name: cabin, Length: 186, dtype: int64

In [ ]:
df['name'].value_counts()

# there are exactly 2 Connolly, Miss. Kate in the dataset

Connolly, Miss. Kate             2
Kelly, Mr. James                 2
Allen, Miss. Elisabeth Walton    1
Ilmakangas, Miss. Ida Livija     1
Ilieff, Mr. Ylio                 1
                                ..
Hart, Miss. Eva Miriam           1
Harris, Mr. Walter               1
Harris, Mr. George               1
Harper, Rev. John                1
Zimmerman, Mr. Leo               1
Name: name, Length: 1307, dtype: int64

In [ ]:
df['name'].head()

# only showing the name in the first 5 rowss

0                      Allen, Miss. Elisabeth Walton
1                     Allison, Master. Hudson Trevor
2                       Allison, Miss. Helen Loraine
3               Allison, Mr. Hudson Joshua Creighton
4    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Name: name, dtype: object

In [ ]:
len(df['name'][0])

# length of a string
# how many characters in the first passenger name? (first row)

29

In [ ]:
df['name'].str.startswith('Allison').sum()

# does my string start with a specific character?
# how many passengers have the last name 'Allision'?
# last name comes first in the name column

4

In [ ]:
df.loc[df['name'].str.startswith('Allison')]

# which passengers have the last name 'Allison'

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.55,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [ ]:
df['name'].str.endswith('Ellen').sum()

# How many passengers have the first name 'Ellen'?

2

In [ ]:
df.loc[df['name'].str.endswith('Ellen')]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
24,1,1,"Bird, Miss. Ellen",female,29.0,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
570,2,1,"Toomey, Miss. Ellen",female,50.0,0,0,F.C.C. 13531,10.5000,NaN,S,9,NaN,"Indianapolis, IN"

In [ ]:
df['name'].str.endswith('Henry').sum()

# practice fiding how many people have first name 'Henry'?

21

In [ ]:
df.loc[df['name'].str.endswith('Henry')]

# where can you find people whose first name is 'Henry'?

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
31,1,1,"Blank, Mr. Henry",male,40.0,0,0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
157,1,0,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S,NaN,NaN,"Brighton, MA"
280,1,1,"Stengel, Mr. Charles Emil Henry",male,54.0,1,0,11778,55.4417,C116,C,1,NaN,"Newark, NJ"
367,2,0,"Chapman, Mr. Charles Henry",male,52.0,0,0,248731,13.5000,NaN,S,NaN,130.0,"Bronx, NY"
368,2,0,"Chapman, Mr. John Henry",male,37.0,1,0,SC/AH 29037,26.0000,NaN,S,NaN,17.0,"Cornwall / Spokane, WA"
386,2,0,"Davies, Mr. Charles Henry",male,18.0,0,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,"Lyndhurst, England"
423,2,0,"Gillespie, Mr. William Henry",male,34.0,0,0,12233,13.0000,NaN,S,NaN,NaN,"Vancouver, BC"
457,2,0,"Hunt, Mr. George Henry",male,33.0,0,0,SCO/W 1585,12.2750,NaN,S,NaN,NaN,"Philadelphia, PA"
544,2,0,"Renouf, Mr. Peter Henry",male,34.0,1,0,31027,21.0000,NaN,S,12,NaN,"Elizabeth, NJ"
618,3,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,"Lower Clapton, Middlesex or Erdington, Birmingham"
723,3,0,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,NaN,NaN,"Philadelphia, PA"
756,3,0,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S,NaN,NaN,"Liverpool, England Bedford, OH"
833,3,0,"Green, Mr. George Henry",male,51.0,0,0,21440,8.0500,NaN,S,NaN,NaN,"Dorking, Surrey, England"
854,3,0,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q,NaN,NaN,NaN
1051,3,0,"Nancarrow, Mr. William Henry",male,33.0,0,0,A./5. 3338,8.0500,NaN,S,NaN,NaN,NaN
1119,3,0,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.2500,NaN,S,NaN,NaN,NaN
1160,3,0,"Rouse, Mr. Richard Henry",male,50.0,0,0,A/5 3594,8.0500,NaN,S,NaN,NaN,NaN
1170,3,0,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1171,3,0,"Sage, Master. William Henry",male,14.5,8,2,CA. 2343,69.5500,NaN,S,NaN,67.0,NaN
1191,3,0,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,NaN,NaN,NaN
1254,3,1,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0000,NaN,S,15,NaN,NaN

## Locating specific characters or strings

In [ ]:
df['name'].str.contains('Sara').sum()

# locating words or symbols in datasets

4

In [ ]:
df.loc[df['name'].str.contains('Sara')]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
76,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C,14,NaN,"Lakewood, NJ"
88,1,1,"Daniels, Miss. Sarah",female,33.0,0,0,113781,151.5500,NaN,S,8,NaN,NaN
369,2,0,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.0,1,0,SC/AH 29037,26.0000,NaN,S,NaN,NaN,"Cornwall / Spokane, WA"
1159,3,1,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S,C,NaN,NaN

In [ ]:
df['UP_name'] = df['name'].str.upper()
df.head()

# changing string case
# changing the text to all uppercase in a new column called 'UP_name'

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,UP_name
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO","ALLEN, MISS. ELISABETH WALTON"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON","ALLISON, MASTER. HUDSON TREVOR"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON","ALLISON, MISS. HELEN LORAINE"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON","ALLISON, MR. HUDSON JOSHUA CREIGHTON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON","ALLISON, MRS. HUDSON J C (BESSIE WALDO DANIELS)"

In [ ]:
df['LOW_name'] = df['name'].str.lower()
df.head()

# changing the text to all lowercase

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,UP_name,LOW_name
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO","ALLEN, MISS. ELISABETH WALTON","allen, miss. elisabeth walton"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON","ALLISON, MASTER. HUDSON TREVOR","allison, master. hudson trevor"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON","ALLISON, MISS. HELEN LORAINE","allison, miss. helen loraine"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON","ALLISON, MR. HUDSON JOSHUA CREIGHTON","allison, mr. hudson joshua creighton"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON","ALLISON, MRS. HUDSON J C (BESSIE WALDO DANIELS)","allison, mrs. hudson j c (bessie waldo daniels)"

# Remove white spaces from text

In [ ]:
extra = '  _These wordsa re surrounded by too much space_  '
extra

'  _These wordsa re surrounded by too much space_  '

In [ ]:
extra.rstrip()

# remove white space from the right-hand side of the text

In [ ]:
extra.lstrip()

# remove whie space from the left-hand side of the text

In [ ]:
a = ' no'
b = 'no'

In [ ]:
df['name_s'] = df['name'].str.strip()

df.head(2)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,UP_name,LOW_name,name_s
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO","ALLEN, MISS. ELISABETH WALTON","allen, miss. elisabeth walton","Allen, Miss. Elisabeth Walton"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON","ALLISON, MASTER. HUDSON TREVOR","allison, master. hudson trevor","Allison, Master. Hudson Trevor"

# Splitting Strings

In [ ]:
df['name'].str.split(' ')

# split the string of text after each white space
# by default, python would create a list and add a comma

0                      [Allen,, Miss., Elisabeth, Walton]
1                     [Allison,, Master., Hudson, Trevor]
2                       [Allison,, Miss., Helen, Loraine]
3              [Allison,, Mr., Hudson, Joshua, Creighton]
4       [Allison,, Mrs., Hudson, J, C, (Bessie, Waldo,...
                              ...
1304                             [Zabour,, Miss., Hileni]
1305                            [Zabour,, Miss., Thamine]
1306                        [Zakarian,, Mr., Mapriededer]
1307                              [Zakarian,, Mr., Ortin]
1308                               [Zimmerman,, Mr., Leo]
Name: name, Length: 1309, dtype: object

In [ ]:
df['name'].str.split(',')

# split the string after each comma

0                        [Allen,  Miss. Elisabeth Walton]
1                       [Allison,  Master. Hudson Trevor]
2                         [Allison,  Miss. Helen Loraine]
3                 [Allison,  Mr. Hudson Joshua Creighton]
4       [Allison,  Mrs. Hudson J C (Bessie Waldo Danie...
                              ...
1304                              [Zabour,  Miss. Hileni]
1305                             [Zabour,  Miss. Thamine]
1306                         [Zakarian,  Mr. Mapriededer]
1307                               [Zakarian,  Mr. Ortin]
1308                                [Zimmerman,  Mr. Leo]
Name: name, Length: 1309, dtype: object

In [ ]:
df['name'].str.split(' ', n =1)

# split the string of text after only the first white space (n = 1)

0                        [Allen,, Miss. Elisabeth Walton]
1                       [Allison,, Master. Hudson Trevor]
2                         [Allison,, Miss. Helen Loraine]
3                 [Allison,, Mr. Hudson Joshua Creighton]
4       [Allison,, Mrs. Hudson J C (Bessie Waldo Danie...
                              ...
1304                              [Zabour,, Miss. Hileni]
1305                             [Zabour,, Miss. Thamine]
1306                         [Zakarian,, Mr. Mapriededer]
1307                               [Zakarian,, Mr. Ortin]
1308                                [Zimmerman,, Mr. Leo]
Name: name, Length: 1309, dtype: object

In [ ]:
df['name'].str.split(' ', n = 1, expand = True)

# split the string after the first white space, expand the separated text to a new column

               0                                       1
0         Allen,                  Miss. Elisabeth Walton
1       Allison,                   Master. Hudson Trevor
2       Allison,                     Miss. Helen Loraine
3       Allison,             Mr. Hudson Joshua Creighton
4       Allison,  Mrs. Hudson J C (Bessie Waldo Daniels)
...          ...                                     ...
1304     Zabour,                            Miss. Hileni
1305     Zabour,                           Miss. Thamine
1306   Zakarian,                         Mr. Mapriededer
1307   Zakarian,                               Mr. Ortin
1308  Zimmerman,                                 Mr. Leo

[1309 rows x 2 columns]

In [ ]:
df['name_dot'] = df['name'].str.replace('.', '!')
df.head(3)

# before splitting the text, you can replace certain characters with blank spaces
# replace special characters to make splitting easier
# you want to replace . with !

<ipython-input-38-96cf415a0d3a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['name_dot'] = df['name'].str.replace('.', '!')

,name,cabin,home.dest,name_dot
0,"Allen, Miss. Elisabeth Walton",B5,"St Louis, MO","Allen, Miss! Elisabeth Walton"
1,"Allison, Master. Hudson Trevor",C22 C26,"Montreal, PQ / Chesterville, ON","Allison, Master! Hudson Trevor"
2,"Allison, Miss. Helen Loraine",C22 C26,"Montreal, PQ / Chesterville, ON","Allison, Miss! Helen Loraine"

In [ ]:
df2 = df['name'].str.split(' ', n = 1, expand = True)

df2.head()

# adding the split columns onto your original dataset
# create a new dataset to capture the columns you plan to split (df2)

          0                                       1
0    Allen,                  Miss. Elisabeth Walton
1  Allison,                   Master. Hudson Trevor
2  Allison,                     Miss. Helen Loraine
3  Allison,             Mr. Hudson Joshua Creighton
4  Allison,  Mrs. Hudson J C (Bessie Waldo Daniels)

In [ ]:
df['last name only'] = df2[0]

df.head()

# create new columns (or overwrite existing columns) to include new columns to original dataset
# when specifying the column you want to include, set it equal to the column index position

,name,cabin,home.dest,name_dot,last name only
0,"Allen, Miss. Elisabeth Walton",B5,"St Louis, MO","Allen, Miss! Elisabeth Walton","Allen,"
1,"Allison, Master. Hudson Trevor",C22 C26,"Montreal, PQ / Chesterville, ON","Allison, Master! Hudson Trevor","Allison,"
2,"Allison, Miss. Helen Loraine",C22 C26,"Montreal, PQ / Chesterville, ON","Allison, Miss! Helen Loraine","Allison,"
3,"Allison, Mr. Hudson Joshua Creighton",C22 C26,"Montreal, PQ / Chesterville, ON","Allison, Mr! Hudson Joshua Creighton","Allison,"
4,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",C22 C26,"Montreal, PQ / Chesterville, ON","Allison, Mrs! Hudson J C (Bessie Waldo Daniels)","Allison,"