#### 1. Import the <b>two</b> libraries you need to work with datasets and use mathmatical functions.

In [1]:
import pandas as pd
import numpy as np

#### 2. Import the <b>titanic.xls</b> file and store the dataset in a variable named: <b>titanic</b>. This dataset includes information about the passengers aboard the Titanic. The dataset includes the following columns:

    * pclass = passenger class; 1 = first class, 2 = second class, 3 = third class
    * survived = passenger survival; 1 = survived, 0 = did not survive
    * name = passenger name
    * sex = sex of passenger
    * age = age of passenger
    * sibsp = # of siblings / spouses aboard the Titanic
    * parch = # of parents / children aboard the Titanic
    * ticket = ticket number
    * fare = fare paid by passenger
    * cabin = passenger cabin
    * embarked = port of embarkation; C = Cherbourg, Q = Queenstown, S = Southampton
    * boat = lifeboat assignment
    * body = recovered body number
    * home dest = anticipated home destination
    
<b> Use the 4 cells below to write out questions you hope to answer with the titanic dataset <i><u>before</u></i> you start exploring the dataset (example: how many passengers did not survive the titanic sinking?)

In [2]:
## Question 1: How many passengers from each pclass and gender survived?

In [3]:
## Question 2: How many bodies were recovered afterwards and where were they from?

In [4]:
## Question 3: What were the ticket numbers of people whose body was recovered and how many bodies were discovered?

In [5]:
## Question 4: How many lifeboats were there and how many people did not survive on each boat?

#### 3. View the first 20 rows of the dataset.

In [6]:
titanic = pd.read_excel('titanic.xls')
titanic.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"

#### 4. View the last 20 rows of the dataset.

In [7]:
titanic.tail(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1289,3,0,"Wiklund, Mr. Karl Johan",male,21.0,1,0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3,0,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3,0,"Williams, Mr. Leslie",male,28.5,0,0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3,0,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3,0,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3,0,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3,0,"Wittevrongel, Mr. Camille",male,36.0,0,0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3,0,"Yasbeck, Mr. Antoni",male,27.0,1,0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3,0,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3,0,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3,0,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

#### 5. Complete the code below to find some meta information for our dataset. How many columns are there total in the dataset? In which column(s) do we have missing/NaN values?

In [8]:
titanic.info()

# there are 13 columns
# there are 1309 rows so any column that does not have 1309 non-null, have missing values
# age, fare, cabin, embarked, boat, body, home.dest

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [9]:
titanic.isnull().sum()

# age, fare, cabin, embarked, boat, body, home.dest

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

#### 6. Write the code to get summary statistics for the titanic dataset.

In [10]:
titanic.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

#### 7. Write the code <i>(without using the .info function)</i> to find the following information:

    * how old was the oldest passenger on the ship?
    * how old was the youngest passenger on the ship?
    * what are the total ticket sales for all passengers?
    * how many passengers embarked at each port?
    * what is the average number of siblings/spouses that were traveling with each passenger?
    
 Use a new cell to answer each question above.

In [11]:
titanic['age'].max()

# the oldest passenger on the boat is 80 years old

80.0

In [12]:
titanic['age'].min()

# the youngest passenger on the boat is 0.1667 year old

0.1667

In [60]:
np.sum(titanic['fare'])
# cannot use 'ticket' because that is the ticket number

43550.4869

In [62]:
titanic['embarked'].value_counts()

# how often the value repeats in a column

S    914
C    270
Q    123
Name: embarked, dtype: int64

In [55]:
titanic['sibsp'].mean()

0.4988540870893812

#### 8. Create three unique <b>pivot tables</b> using the titanic data. Make one statement about something you can determine from the information each table shows.

<b>EXAMPLE:</b> "The table above shows that employees use their vacation leave most frequently in December, June, and August."

In [64]:
pd.pivot_table(titanic, index = ['pclass'], values = ['fare'], columns = ['survived'])

# did people who pay more fare have a higher chance of survival?
# 0 is people who did not survive, 1 is people who survived: the average fare that people paid in each category is shown

               fare
survived          0          1
pclass
1         70.412533  98.023314
2         19.801713  23.008124
3         13.435451  12.916919

In [77]:
pd.pivot_table(titanic, index = ['pclass', 'sex'], values = ['survived'], aggfunc = ['count'])

# How many people from each sex in each pclass survive?

                 count
              survived
pclass sex
1      female      144
       male        179
2      female      106
       male        171
3      female      216
       male        493

In [75]:
pd.pivot_table(titanic, index = ['home.dest'], values = ['body'])

                                                 body
home.dest
?Havana, Cuba                                   189.0
Argentina                                        79.0
Asarum, Sweden Brooklyn, NY                      72.0
Auburn, NY                                       75.0
Aughnacliff, Co Longford, Ireland New York, NY   68.0
...                                               ...
West Kensington, London                         297.0
Weston-Super-Mare, Somerset                     121.0
Windsor, England New York, NY                   259.0
Winnipeg, MB                                    147.0
Worcester, MA                                   207.0

[68 rows x 1 columns]

In [76]:
pd.pivot_table(titanic, index = ['pclass', 'survived'], values = ['age'])

# what is the passaenger average age based on the ticket class and chance survival?

                       age
pclass survived
1      0         43.247573
       1         36.833794
2      0         33.167808
       1         24.858696
3      0         25.974549
       1         21.545166

In [80]:
pd.pivot_table(titanic, index = ['boat'], values = ['survived'], aggfunc = ['count', np.sum, np.mean])

# how many people were assigned to each bot and did they all survive?
# 1.0000 means that 100% of the people assigned to that boat survived
# On boat 12, 19 people were assigned and only 18 people survived so 94.7% of them survived

           count      sum      mean
        survived survived  survived
boat
2              1        1  1.000000
1              5        5  1.000000
10            29       29  1.000000
11            25       25  1.000000
12            19       18  0.947368
13            39       39  1.000000
13 15          2        2  1.000000
13 15 B        1        1  1.000000
14            33       32  0.969697
15            37       37  1.000000
15 16          1        1  1.000000
16            23       23  1.000000
2             12       12  1.000000
3             26       26  1.000000
4             31       31  1.000000
5             27       27  1.000000
5 7            2        2  1.000000
5 9            1        1  1.000000
6             20       20  1.000000
7             23       23  1.000000
8             23       23  1.000000
8 10           1        1  1.000000
9             25       25  1.000000
A             11        7  0.636364
B              9        8  0.888889
C             38       37  0.973684
C D            2        2  1.000000
D             20       19  0.950000

#### 9. Create a crosstab (cross-tabulation table) to answer the following questions:

How many women are in each of the passenger classes? How many men are in each?

In [82]:
pd.crosstab(titanic['pclass'], titanic['sex'])

sex     female  male
pclass
1          144   179
2          106   171
3          216   493

#### 10. Complete the code to find the average age of passengers by survival status.

In [84]:
titanic['age'].groupby(titanic['survived']).mean()

survived
0    30.545369
1    28.918228
Name: age, dtype: float64

In [90]:
pd.pivot_table(titanic, index = ['survived'], values = ['age'])

                age
survived
0         30.545369
1         28.918228

#### 11. Use the groupby function to determine the average age of passengers by passenger class.

In [85]:
titanic['age'].groupby(titanic['pclass']).mean()

pclass
1    39.159918
2    29.506705
3    24.816367
Name: age, dtype: float64

#### 12. Locate all the passengers who embarked at "Queenstown".

In [95]:
Queenstown_embarked = titanic.loc[titanic['embarked'] == "Q"]
Queenstown_embarked

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
206,1,0,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q,NaN,230.0,"Fond du Lac, WI"
207,1,1,"Minahan, Miss. Daisy E",female,33.0,1,0,19928,90.0000,C78,Q,14,NaN,"Green Bay, WI"
208,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,14,NaN,"Fond du Lac, WI"
469,2,1,"Keane, Miss. Nora A",female,NaN,0,0,226593,12.3500,E101,Q,10,NaN,"Harrisburg, PA"
470,2,0,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,3,0,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q,NaN,NaN,NaN
1198,3,1,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q,NaN,NaN,NaN
1215,3,0,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q,NaN,NaN,NaN
1216,3,1,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q,13,NaN,NaN
1249,3,0,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,F38,Q,NaN,NaN,NaN

#### 13. Locate the teenages who were onboard the Titanic - passengers ages 13 to 19.

In [99]:
titanic.loc[(titanic['age'] >= 13) & (titanic['age'] <= 19)]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
53,1,0,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,NaN,NaN,"Montevideo, Uruguay"
55,1,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
92,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S,3,NaN,"Calgary, AB"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,3,0,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S,NaN,NaN,NaN
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN

#### 14. Locate the passengers who were <i>either</i> in second or third class.

In [101]:
titanic.loc[(titanic['pclass'] == 2) | (titanic['pclass'] == 3)]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
323,2,0,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C,NaN,NaN,"Russia New York, NY"
324,2,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,10,NaN,"Russia New York, NY"
325,2,0,"Aldworth, Mr. Charles Augustus",male,30.0,0,0,248744,13.0000,NaN,S,NaN,NaN,"Bryn Mawr, PA, USA"
326,2,0,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5000,NaN,S,NaN,NaN,"Buenos Aires, Argentina / New Jersey, NJ"
327,2,0,"Andrew, Mr. Frank Thomas",male,25.0,0,0,C.A. 34050,10.5000,NaN,S,NaN,NaN,"Cornwall, England Houghton, MI"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

#### 15. Complete the code below to determine which variables have missing data.

In [102]:
titanic.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

#### 16. Does the titanic dataset have any duplicate rows? Write the code to check!

In [130]:
titanic_duplicate = titanic.duplicated()
titanic_duplicate

# you cannot see all of the rows

0       False
1       False
2       False
3       False
4       False
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Length: 1309, dtype: bool

In [131]:
titanic.loc[titanic_duplicate]

# this shows all the columns
# this means that there is no duplicate in this dataset

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

## B * O * N * U * S

<b>17. Use the space below to write the code to answer the 4 questions you listed in question #2.</b>

In [108]:
## Question 1: How many passengers from each pclass and gender survived?

pd.pivot_table(titanic, index = ['pclass', 'sex'], values = ['survived'], aggfunc = ['count'])

                 count
              survived
pclass sex
1      female      144
       male        179
2      female      106
       male        171
3      female      216
       male        493

In [109]:
## Question 2: How many bodies were recovered afterwards and where were they from?

pd.pivot_table(titanic, index = ['home.dest'], values = ['body'], aggfunc = ['count'])

                                    count
                                     body
home.dest
?Havana, Cuba                           1
Aberdeen / Portland, OR                 0
Albany, NY                              0
Altdorf, Switzerland                    0
Amenia, ND                              0
...                                   ...
Worcester, England                      0
Worcester, MA                           1
Yoevil, England / Cottage Grove, OR     0
Youngstown, OH                          0
Zurich, Switzerland                     0

[369 rows x 1 columns]

In [128]:
## Question 3: What were the ticket numbers of people whose body was recovered and how many bodies were discovered?

pd.pivot_table(titanic, index = ['ticket'], values = ['body'], aggfunc = ['count'])

            count
             body
ticket
695             0
5727            0
11751           0
11755           0
11767           0
...           ...
W./C. 6608      0
W./C. 6609      0
W.E.P. 5734     0
W/C 14208       0
WE/P 5735       1

[939 rows x 1 columns]

In [129]:
## Question 4: How many lifeboats were there and how many people did not survive on each boat?

pd.pivot_table(titanic, index = ['boat'], values = ['survived'], aggfunc = ['count', np.mean, np.sum])

           count      mean      sum
        survived  survived survived
boat
2              1  1.000000        1
1              5  1.000000        5
10            29  1.000000       29
11            25  1.000000       25
12            19  0.947368       18
13            39  1.000000       39
13 15          2  1.000000        2
13 15 B        1  1.000000        1
14            33  0.969697       32
15            37  1.000000       37
15 16          1  1.000000        1
16            23  1.000000       23
2             12  1.000000       12
3             26  1.000000       26
4             31  1.000000       31
5             27  1.000000       27
5 7            2  1.000000        2
5 9            1  1.000000        1
6             20  1.000000       20
7             23  1.000000       23
8             23  1.000000       23
8 10           1  1.000000        1
9             25  1.000000       25
A             11  0.636364        7
B              9  0.888889        8
C             38  0.973684       37
C D            2  1.000000        2
D             20  0.950000       19

# Well Done!!